In [5]:
# Exercise Level 1

# Iterate 0 to 10 using for loop, do the same using while loop.

for num in range(11): # for loop
    print(num)

print()

x = 0
while x <= 10: # while loop 
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9
10

0
1
2
3
4
5
6
7
8
9
10

In [7]:
# Iterate 10 to 0 using for loop, do the same using while loop.
for num in range(11): # for loop
    print(10-num)

print()

x = 10
while x >= 0 : # while loop 
    print(x)
    x -= 1

10
9
8
7
6
5
4
3
2
1
0

10
9
8
7
6
5
4
3
2
1
0

In [8]:
# Write a loop that makes seven calls to print(), so we get on the output the following triangle:
X = ""
for t in range(7):
    X = X + "#"
    print(X)

#
##
###
####
#####
######
#######

In [16]:
# Use nested loops to create the following:
rows = 7
columns = 15

for x in range(rows):
    for y in range(columns):
        print("#", end=" ")
    print()

# # # # # # # # # # # # # # #
# # # # # # # # # # # # # # #
# # # # # # # # # # # # # # #
# # # # # # # # # # # # # # #
# # # # # # # # # # # # # # #
# # # # # # # # # # # # # # #
# # # # # # # # # # # # # # #

In [17]:
for n in range(11):
    result = n * n
    print(f"{n} x {n} = {result}")

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [19]:
# Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.
lists = ['Python', 'Numpy','Pandas','Django', 'Flask']
for list in lists:
    print(list)

Python
Numpy
Pandas
Django
Flask

In [20]:
# Use for loop to iterate from 0 to 100 and print only even numbers
for n in range(101):
    if n%2 == 0:
        print(n)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [21]:
# Use for loop to iterate from 0 to 100 and print only odd numbers
for n in range(101):
    if n%2 != 0:
        print(n)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [3]:
# Exercises: Level 2

# Use for loop to iterate from 0 to 100 and print the sum of all numbers.
sum = 0
for num in range(101): # for loop
    print(num)
    sum = sum + num

print(f"The sum of all numbers is {sum}.")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
The sum of all numbers is 5050.

In [4]:
# Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds
sum_e = 0
sum_o = 0
for num in range(101): # for loop
    print(num)
    if num%2 == 0:
        sum_e = sum_e + num
    else:
        sum_o = sum_o + num

print(f"The sum of all evens is {sum_e}. And the sum of all odds is {sum_o}.")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
The sum of all evens is 2550. And the sum of all odds is 2500.

In [27]:
# Go to the data folder and use the countries.py file. Loop through the countries and extract all the countries containing the word land
import sys
sys.path.append('data')
from data import countries
print(countries)
results = []

for country in countries:
    if "land" in country:
        results.append(country)
print(results)

<module 'data.countries' from 'c:\\Users\\ZIDAN\\Desktop\\AREWA-DS\\ArewaDS-30days-of-Python\\day_10\\data\\countries.py'>

TypeError: 'module' object is not iterable

In [15]:
import sys
sys.path.append('data')
import countries_data as cd
print(cd)

<module 'countries_data' from 'c:\\Users\\ZIDAN\\Desktop\\AREWA-DS\\ArewaDS-30days-of-Python\\day_10\\data\\countries_data.py'>